@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
body {
  font-size: 1.4rem;
}
ul{
    list-style: none;
}
header{
    background: #fff;
    position: sticky;
    top: 0;

}
nav{
    max-width: 1200px;
    padding: 1rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
nav ul{
    display: flex;
   
    gap: 2rem;
}
nav ul li{
    font-size: 1.8rem;
}
nav ul a{
    text-decoration: none;
    color: black;
}
nav ul li:hover{
    border-bottom: rgb(255, 251, 0) 2px solid;
}
nav ul i{
    font-size: 2.5rem;
}
main{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content h1{
    font-size: 60px;
}
.hero-content h4{
    font-size: 2.5rem;
    font-weight: 300;
}
.hero-image img{
    width: 550px;
   border-radius: 15px;
}
.h-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.08);
    border-radius: 10px;
}
.status{
    display: flex;
    justify-content: space-between;
}
.card-content h2{
    padding: 15px;
}
.card-content p{
    padding:0 15px ;
}
.status p{
    padding: 10px;
}
.status a{
    margin-right: 20px;
    margin-top: 15px;
}
button{
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 15px;
}
button:hover {
    border-bottom: 1px solid #ccc;
  }

  /* ----v -card------- */

  .container{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    
  }
  .card-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .v-card{
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    align-items:  center;
    max-width: 320px;
    border: 1px solid #e2e2e2;
    border-radius:0.5rem;
    overflow: hidden;
  }
  .v-card img{
    width: 100%;
    height: 100%;
  }

  /* ------footer------ */

  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
    margin-bottom: 20px;
  }
  footer p{
    margin-left: 50px;
  }
  footer ul{
    display: flex;
    gap: 20px;
    margin-right: 50px;
  }
  footer ul li{
    font-size: 20px;
  }
  

  /* ---postjtml---- */

  .banner-image img{
width: 100%;
margin-bottom: 20px;
  }
  .post h1{
    font-size: 40px;
    margin: 10px 0;
  }
  .post h4{
    margin:  20px 0;
  }
  article{
    display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: #000;
}

  


